<div class="relative mt-24 px-4 md:px-16 lg:px-24">
  
  <div class="relative w-full rounded-lg shadow-md overflow-hidden flex flex-col leading-none text-[0px]">
    
    <img src="assets/bottom_banner_image.png" alt="banner" class="w-full h-auto hidden md:block object-cover" />
    
    <img src="assets/bottom_banner_image_sm.png" alt="banner" class="w-full h-auto md:hidden block object-cover" />

    <div class="absolute inset-0 flex flex-col items-center md:items-end md:justify-center pt-8 md:pt-0 md:pr-32 lg:pr-48 text-base leading-normal">
      <div class="md:bg-transparent p-6 md:p-0 md:backdrop-blur-none"> 
        
        <h1 class="text-2xl md:text-3xl font-semibold text-[var(--primary)] mb-6 text-center md:text-left drop-shadow-sm">
          Why We Are the Best?
        </h1>

        <div id="features-container" class="flex flex-col gap-4">
            </div>

      </div>
    </div>

  </div>
</div>