<div id="login-modal"
     class="fixed inset-0 bg-black/40 hidden items-center justify-center z-50">

  <form class="max-w-96 w-full bg-white rounded-2xl px-8 text-center relative">

    <button type="button"
            onclick="closeAuth()"
            class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 transition-colors">✕</button>

    <h1 class="text-3xl mt-10 font-medium">Login</h1>
    <p class="text-sm text-gray-500 mt-2">Please sign in to continue</p>

    <input type="email"
           placeholder="Email"
           class="mt-10 w-full h-12 border rounded-full px-5 outline-none focus:ring-1 focus:border-[var(--primary)] focus:ring-[var(--primary)] transition-all" required>

    <input type="password"
           placeholder="Password"
           class="mt-4 w-full h-12 border rounded-full px-5 outline-none focus:ring-1 focus:border-[var(--primary)] focus:ring-[var(--primary)] transition-all" required>

    <button type="submit"
            class="mt-6 w-full h-11 rounded-full bg-[var(--primary)] text-white hover:bg-[var(--primary-dull)] transition-colors duration-200">
      Login
    </button>

    <p class="text-sm mt-4 mb-8">
      Don’t have an account?
      <button type="button"
              onclick="openSignup()"
              class="text-[var(--primary)] font-medium hover:underline hover:text-[var(--primary-dull)]">
        Sign up
      </button>
    </p>
  </form>
</div>