<nav class="flex items-center justify-between px-6 md:px-16 lg:px-24 py-4 border-b border-gray-300 bg-white relative">

  <a href="index.html">
    <img class="h-9" src="assets/logo.svg" alt="logo">
  </a>

  <button id="menu-toggle" class="sm:hidden">
    <img src="assets/menu_icon.svg" alt="menu">
  </button>

  <div id="mobile-menu"
       class="hidden absolute top-[60px] left-0 w-full bg-white shadow-md py-4 px-5 flex-col gap-2 text-sm sm:hidden z-50">

    <a href="index.html" class="mobile-link">Home</a>
    <a href="products.html" class="mobile-link">All Products</a>
    <a href="contact.html" class="mobile-link">Contact</a>
    
    <a href="orders.html" id="mobile-my-orders" class="mobile-link hidden">My Orders</a>

    <button id="mobile-login-btn"
            class="mt-2 px-6 py-2 bg-indigo-500 text-white rounded-full text-sm">
      Login
    </button>
  </div>

  <div class="hidden sm:flex items-center gap-8">

    <a href="index.html" class="text-gray-700 hover:text-black">Home</a>
    <a href="products.html" class="text-gray-700 hover:text-black">All Products</a>
    <a href="contact.html" class="text-gray-700 hover:text-black">Contact</a>

    <a href="cart.html" class="relative cursor-pointer">
      <img src="assets/nav_cart_icon.svg" class="w-6 opacity-80" alt="cart">
      
      <span id="cart-count" class="absolute -top-2 -right-3 bg-indigo-500 text-white text-xs w-[18px] h-[18px] rounded-full flex items-center justify-center hidden">
        0
      </span>
    </a>

    <button id="desktop-login-btn"
            class="px-6 py-2 bg-indigo-500 text-white rounded-full text-sm hover:bg-indigo-600 transition">
      Login
    </button>

    <div id="user-dropdown" class="hidden group relative cursor-pointer">
      
      <img src="assets/profile_icon.png" class="w-9 h-9 rounded-full object-cover border border-gray-200" alt="profile" />

      <div class="absolute right-0 top-0 pt-12 hidden group-hover:block z-50">
        <div class="bg-white text-gray-600 rounded shadow-lg border border-gray-100 w-36 py-2 flex flex-col">
          <a href="orders.html" class="px-4 py-2 hover:bg-gray-100 hover:text-black transition">My Orders</a>
          <div id="desktop-logout-btn" class="px-4 py-2 hover:bg-gray-100 hover:text-black transition cursor-pointer">Logout</div>
        </div>
      </div>
      
    </div>

  </div>
</nav>