<div id="main-banner" class="banner-padding mt-10 relative">
  <img
    src="assets/main_banner_bg.png"
    class="w-full hidden md:block"
    alt="Main banner"
  />

  <img
    src="assets/main_banner_bg_sm.png"
    class="w-full md:hidden"
    alt="Main banner mobile"
  />

  <div class="absolute inset-0 flex flex-col items-center md:items-start justify-end md:justify-center pb-24 md:pb-0 px-4 md:pl-48 lg:pl-60">
    
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center md:text-left max-w-72 md:max-w-80 lg:max-w-105 leading-tight lg:leading-15 text-black">
      Freshness You Can Trust, Savings You Will Love!
    </h1>

    <div class="flex items-center mt-6 gap-4 font-medium">
      
      <a href="products.html" class="flex items-center gap-2 px-8 py-3 bg-[#4fbf8b] hover:opacity-90 transition rounded-md text-white font-semibold">
        Shop now
        <img src="assets/white_arrow_icon.svg" alt="arrow" class="w-5 h-5 md:hidden" />
      </a>

      <a href="products.html" class="hidden md:flex items-center gap-2 px-8 py-3  text-black rounded-full font-medium">
        Explore deals
        <img src="assets/black_arrow_icon.svg" alt="arrow" class="w-5 h-5" />
      </a>
    </div>
  </div>
</div>