<div id="signup-modal"
     class="fixed inset-0 bg-black/40 hidden items-center justify-center z-50">

  <form class="max-w-96 w-full bg-white rounded-2xl px-8 text-center relative">

    <!-- Close Button -->
    <button type="button"
            onclick="closeAuth()"
            class="absolute top-4 right-4 text-gray-400">✕</button>

    <h1 class="text-3xl mt-10 font-medium">Create Account</h1>

    <!-- Username -->
    <input type="text"
           placeholder="Username"
           class="mt-8 w-full h-12 border rounded-full px-5" required>

    <!-- Email -->
    <input type="email"
           placeholder="Email"
           class="mt-4 w-full h-12 border rounded-full px-5" required>

    <!-- Phone -->
    <input type="tel"
           placeholder="Phone"
           class="mt-4 w-full h-12 border rounded-full px-5" required>

    <!-- Password -->
    <input type="password"
           placeholder="Password"
           class="mt-4 w-full h-12 border rounded-full px-5" required>

    <button type="submit"
            class="mt-6 w-full h-11 rounded-full bg-indigo-500 text-white">
      Create Account
    </button>

    <p class="text-sm mt-4 mb-8">
      Already have an account?
      <button type="button"
              onclick="openLogin()"
              class="text-indigo-500">
        Login
      </button>
    </p>
  </form>
</div>
